<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="A" class="com.indasil.springexample.A" scope="singleton">
        <property firstName="b" ref="B"/>
    </bean>

    <bean id="B" class="com.indasil.springexample.B"/>

    <bean id="f" class="com.indasil.springexample.F">
        <constructor-arg index="0" ref="A"/>
        <constructor-arg index="1" ref="B"/>
    </bean>



</beans>